<!-- <div>
    <canvas id="coloredDrawingsChart"></canvas>
    <canvas id="activityHoursChart"></canvas>
    <canvas id="newUsersChart"></canvas>
  </div>
   -->
   <mat-card>
    <mat-card-title>Colored Drawings Chart</mat-card-title>
    <canvas id="coloredDrawingsChart"></canvas>
  </mat-card>
  
  <mat-card>
    <mat-card-title>Activity Hours Chart</mat-card-title>
    <canvas id="activityHoursChart"></canvas>
  </mat-card>
  
  <mat-card>
    <mat-card-title>New Users Chart</mat-card-title>
    <canvas id="newUsersChart"></canvas>
  </mat-card>
  