<!-- <div>
    <canvas id="coloredDrawingsChart"></canvas>
    <canvas id="activityHoursChart"></canvas>
    <canvas id="newUsersChart"></canvas>
  </div>
   -->
   <!-- <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 12px;">
    <mat-card>
      <mat-card-title>ציורים צבועים בכל יום</mat-card-title>
      <canvas id="coloredDrawingsChart"></canvas>
    </mat-card>
  
    <mat-card>
      <mat-card-title>שעות פופולריות</mat-card-title>
      <canvas id="activityHoursChart"></canvas>
    </mat-card>
  
    <mat-card>
      <mat-card-title>הצטרפות משתמשים חודשית</mat-card-title>
      <canvas id="newUsersChart"></canvas>
    </mat-card>
 
  </div> -->
  