<header class="app-header">
  <mat-toolbar color="primary" class="admin-header">
    <mat-toolbar-row>
      <a routerLink="/" class="logo">PaintMe Admin</a>
      <span class="spacer"></span>
      @if(isLoggedIn) {
        <div class="nav-container">
          <nav>
           
            <button mat-button routerLink="/files" routerLinkActive="active">
              <mat-icon>brush</mat-icon>
              <span>ציורים</span>
            </button>
            <button mat-button routerLink="/categories" routerLinkActive="active">
              <mat-icon>category</mat-icon>
              <span>קטגוריות</span>
            </button>
            <button mat-button routerLink="/users" routerLinkActive="active">
              <mat-icon>people</mat-icon>
              <span>משתמשים</span>
            </button>
            <button mat-button routerLink="/stats" routerLinkActive="active">
              <mat-icon>assessment</mat-icon>
              <span>דוחות פעילות</span>
            </button>
          </nav>
        </div>
      }
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main class="content-main" dir="rtl">
  <router-outlet></router-outlet>
</main>

