
  <div class="form-container">
    <form [formGroup]="fileForm" (submit)="updateFile()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" required>
            @if(this.fileForm.get('name')?.invalid && fileForm.get('name')?.touched)
            {
            <mat-error>
                Name
            </mat-error>}
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>fileUrl</mat-label>
            <input matInput type="text" formControlName="fileUrl" required>
            @if(this.fileForm.get('fileUrl')?.invalid && fileForm.get('fileUrl')?.touched)
            {
            <mat-error>
                fileUrl is required
            </mat-error>}
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>category</mat-label>
            <mat-select formControlName="category" required>
                <mat-option [value]="0">Animals</mat-option>
                <mat-option [value]="1">Art</mat-option>
                <mat-option [value]="2">Nature</mat-option>
                <mat-option [value]="3">People</mat-option>
                <mat-option [value]="4">Abstract</mat-option>
              </mat-select>
              
            @if(this.fileForm.get('category')?.invalid && fileForm.get('category')?.touched){
                <mat-error>
                    category is required
                </mat-error>}
        </mat-form-field>
        <br />

        <button mat-raised-button [disabled]="fileForm.invalid" type="submit">Update</button>
    </form>
</div>
