  <app-back-button></app-back-button>
   <div class="page-header">
    <h1>דוחות פעילות</h1>
    <p class="page-description">צפייה בנתוני המערכת</p>
  </div>
  <div class="chart-grid">
  <mat-card>
    <mat-card-title>ציורים צבועים בכל יום</mat-card-title>
    <div class="chart-container">
      <canvas id="coloredDrawingsChart"></canvas>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title>שעות פופולריות</mat-card-title>
    <div class="chart-container">
      <canvas id="activityHoursChart"></canvas>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title>הצטרפות משתמשים חודשית</mat-card-title>
    <div class="chart-container">
      <canvas id="newUsersChart"></canvas>
    </div>
  </mat-card>

      <mat-card>
      <mat-card-title>פופולריות לפי קטגוריה</mat-card-title>
      <div class="chart-container">
        <canvas id="categoryPopularityChart"></canvas>
      </div>
    </mat-card>
</div>