<div class="form-container">
    <form [formGroup]="fileForm" (ngSubmit)="addFile()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        @if(this.fileForm.get('name')?.invalid && fileForm.get('name')?.touched)
        {
        <mat-error>
            First Name is required
        </mat-error>}
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Category ID</mat-label>
        <input matInput formControlName="categoryId" required>
                 @if(this.fileForm.get('categoryId')?.invalid && fileForm.get('categoryId')?.touched){
            <mat-error>
                Category is required
            </mat-error>}
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>File URL</mat-label>
        <input matInput formControlName="fileUrl" required>
        @if(this.fileForm.get('fileUrl')?.invalid && fileForm.get('fileUrl')?.touched){
            <mat-error>
                File URL is required
            </mat-error>}
      </mat-form-field>
  
      <button mat-raised-button [disabled]="fileForm.invalid" type="submit">Add File</button>
    </form>
  </div>
  