<a mat-button [routerLink]="['/users/add']" routerLinkActive="active"> ➕ הוסף משתמש</a>
@for(user of users$ | async; track user.id) {
<mat-card class="mat-card" appearance="outlined">
    <mat-card-header>
        <mat-card-subtitle> {{user.name + ' '+ user.email+' '+user.password}}
        </mat-card-subtitle>
        <button mat-button (click)="deleteUser(user.id)">הסר משתמש</button>
        <a mat-button [routerLink]="['/users', user.id, 'update']" routerLinkActive="active">עדכן פרטי משתמש</a>
    </mat-card-header>
    <br>
</mat-card>
}