<a mat-button [routerLink]="['/users/add']" routerLinkActive="active"> ➕ Add user</a>
@for(user of users$ | async; track user.id) {
<mat-card class="mat-card" appearance="outlined">
    <mat-card-header>
        <mat-card-subtitle> {{user.firstName + ' ' + user.lastName+' '+ user.email+' '+user.password+'
            '+user.role }}
        </mat-card-subtitle>
        <button mat-button (click)="deleteUser(user.id)">Delete user</button>
        <a mat-button [routerLink]="['/users', user.id, 'update']" routerLinkActive="active">Update user</a>
    </mat-card-header>
    <br>
</mat-card>
}