<a mat-button [routerLink]="['/files/add']" routerLinkActive="active"> ➕ Add File</a>
@for(file of files$ | async; track file.id) {

 <mat-card class="mat-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ file.name }}</mat-card-title>
      <mat-card-subtitle>{{ file.fileUrl }}</mat-card-subtitle>
      <button mat-button (click)="deleteFile(file.id)">Delete File</button>
      <a mat-button [routerLink]="['/files', file.id, 'update']" routerLinkActive="active">Update File</a>
    </mat-card-header>
  </mat-card>
}
