  <app-back-button></app-back-button>
<div class="content-container" dir="rtl">
  <div class="page-header">
    <h1>ניהול משתמשים</h1>
    <p class="page-description">צפו, הוסיפו, ערכו או מחקו משתמשים במערכת</p>
  </div>

  <a mat-raised-button color="black" [routerLink]="['/users/add']" routerLinkActive="active">
    <mat-icon>person_add</mat-icon>
    הוסף משתמש
  </a>
<mat-form-field appearance="outline" class="search-field">
  <mat-label>חיפוש לפי אימייל</mat-label>
  <input matInput (input)="applyFilter($event)" placeholder="הקלד אימייל">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>


@if (isLoading$ | async) {
   <div class="user-card-grid">
      @for (i of [1, 2, 3, 4]; track $index) {
      <mat-card class="user-card skeleton-card">
        <div class="user-avatar skeleton-circle"></div>
        <mat-card-header>
          <mat-card-title>
            <div class="skeleton-line short"></div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="skeleton-line"></div>
          <div class="skeleton-line"></div>
        </mat-card-content>
        <mat-card-actions>
          <div class="skeleton-button"></div>
          <div class="skeleton-button"></div>
        </mat-card-actions>
      </mat-card>
    }
  </div>
  } @else {
  <div class="user-card-grid">
@for (user of filteredUsers$ | async; track user.id) {
    <mat-card class="user-card">
      <div class="user-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>

      <mat-card-header>
        <mat-card-title>{{ user.email }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="user-stats">
          <div class="user-stat">
            <mat-icon color="#3498db">calendar_today</mat-icon>
            <span>הצטרף: {{ user.createdAt | date:'dd/MM/yyyy' }}</span>

          </div>
        </div>
        <div class="user-stat">

          <mat-icon color="#3498db">numbers</mat-icon>
          <span>סיסמה: {{user.password}}</span>
        </div>
      </mat-card-content>

      <mat-card-actions align="start">


        <a mat-icon-button  [routerLink]="['/users', user.id, 'update']" matTooltip="עדכן פרטים">
          <mat-icon>edit</mat-icon>
        </a>

        <button mat-icon-button  (click)="deleteUser(user.id)" matTooltip="הסר משתמש">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    }
  </div>
  }
</div>