    <mat-toolbar color="primary" class="admin-header">
        <mat-toolbar-row>
          <a routerLink="/" class="logo">PaintMe Admin</a>
          <span class="spacer"></span>
      @if(isLoggedIn){
          <div>
            <nav>
              <button mat-button routerLink="/files" routerLinkActive="active" color="primary">
                <mat-icon>brush</mat-icon>
                ציורים
              </button>
              <button mat-button routerLink="/categories" routerLinkActive="active" color="primary">
                <mat-icon>category</mat-icon>
                קטגוריות
              </button>
              <button mat-button routerLink="/users" routerLinkActive="active" color="primary">
                <mat-icon>people</mat-icon>
                משתמשים
              </button>
              <button mat-button routerLink="/stats" routerLinkActive="active" color="primary">
                <mat-icon>list</mat-icon>
                דוחות פעילות
              </button>
            </nav>
          </div>
        }
        </mat-toolbar-row>
      </mat-toolbar>
      
     