<!-- 
  <mat-toolbar color="primary" class="admin-header">
    <mat-toolbar-row>
        <a  routerLink="/" class="logo">PaintMe Admin</a>
        <span class="spacer"></span>

    <div>
        <nav> 
            <a mat-button routerLink="/files" routerLinkActive="active" color="primary">
                <mat-icon>brush</mat-icon>
                ציורים
            </a>
            <a mat-button routerLink="/categories" routerLinkActive="active" color="primary">
                <mat-icon>category</mat-icon>
                קטגוריות
            </a>
            <a mat-button routerLink="/users" routerLinkActive="active"color="primary" >
                <mat-icon>people</mat-icon>
                משתמשים
            </a>
            <a mat-button routerLink="/stats" routerLinkActive="active" color="primary">
                <mat-icon>list</mat-icon>
                דוחות פעילות
            </a>
        </nav>
    </div> -->
    <mat-toolbar color="primary" class="admin-header">
        <mat-toolbar-row>
          <a routerLink="/" class="logo">PaintMe Admin</a>
          <span class="spacer"></span>
      
          <div>
            <nav>
              <button mat-button routerLink="/files" routerLinkActive="active" color="primary">
                <mat-icon>brush</mat-icon>
                ציורים
              </button>
              <button mat-button routerLink="/categories" routerLinkActive="active" color="primary">
                <mat-icon>category</mat-icon>
                קטגוריות
              </button>
              <button mat-button routerLink="/users" routerLinkActive="active" color="primary">
                <mat-icon>people</mat-icon>
                משתמשים
              </button>
              <button mat-button routerLink="/stats" routerLinkActive="active" color="primary">
                <mat-icon>list</mat-icon>
                דוחות פעילות
              </button>
            </nav>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      
      <!-- <div class="nav-buttons"> -->
        <!-- <button mat-button routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          לוח בקרה
        </button> -->
        <!-- <button mat-button routerLink="/drawings">
          <mat-icon>brush</mat-icon>
          ציורים
        </button>
        <button mat-button routerLink="/categories">
          <mat-icon>category</mat-icon>
          קטגוריות
        </button>
        <button mat-button routerLink="/users">
          <mat-icon>people</mat-icon>
          משתמשים
        </button> -->
        <!-- <button mat-button routerLink="/uploads">
          <mat-icon>cloud_upload</mat-icon>
          העלאות
        </button> -->
      <!-- </div> -->
      
      <!-- <span class="spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>פרופיל</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>הגדרות</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>התנתקות</span>
        </button>
      </mat-menu>
    </mat-toolbar-row> -->
  <!-- </mat-toolbar> -->