/* .user-list-container {
    padding: 2rem;
    background-color: #fdfcff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .toolbar {
    display: flex;
    justify-content: flex-start;
  }
  
  .user-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  
  .user-card {
    border-radius: 16px;
    background-color: #fff8f8;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
  }
  
  .user-card:hover {
    transform: translateY(-4px);
  }
  
  mat-card-title, mat-card-subtitle {
    color: #4a4a4a;
  }
  
  mat-icon {
    font-size: 24px;
  }
   */
   .user-list-container {
    padding: 2rem;
    background-color: #fdfcff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    direction: rtl;
    text-align: right;
  }
  
  .toolbar {
    display: flex;
    justify-content: flex-end;
  }
  
  .user-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  
  .user-card {
    /* border-radius: 16px; */
    background-color: #fff8f8;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    transition: transform 0.2s ease;
  }
  
  .user-card:hover {
    transform: translateY(-4px);
  }
  
  mat-card-title, mat-card-subtitle {
    color: #4a4a4a;
  }
  
  .rtl-icon {
    margin-left: 8px;
    margin-right: 0;
  }
  .search-fields {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  